.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: -10px;
}

.home_panelList-wrap,.home_panel-wrap,.home_list-wrap{
    overflow-y: auto;
}
.home_panelList-wrap{
    display: flex;
    flex: 1;
   
}
.home_panel-wrap{
    flex-basis: 400px;
}
.home_list-wrap{
    flex: 1;
    margin-top: 43px;
  
}

.filter_component{
    height: 200px;
    overflow-y: scroll;
}