.searchBox {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center !important; 
  align-items: center !important;
  background-color: rgba(231, 231, 231);
  position: fixed;
  top: 0%;
  left: 0;
}

.searchBox > input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
  background-color: white;
  border: none;
  color: rgba(0,0,0,0.637);
  padding: 1vmax 2vmax;
  width: 50%;
   outline: none;
   border-radius: 0;
   font: 300 1.1vmax cursive;
   box-sizing: border-box;
}
.searchBox .submitButton{
    height: 7%;
    border-radius: 0;
    background-color: #3F51B5;
    border: none;
    padding: 1vmax;
    width: 8%;
    font: 300 1.1vmax "Roboto";
    cursor: pointer;
    color: white;
    transition: all 0.5s;

}
.searchBox .submitButton:hover{
   background-color: rgb(55, 97, 214);

}